.input {
    display: flex;
    height: 2.5rem;
    /* h-10 */
    width: 100%;
    border-radius: 0.375rem;
    /* rounded-md */
    border: 1px solid var(--input);
    background-color: var(--background);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    /* text-sm */
    line-height: 1.25rem;
    color: var(--foreground);
}

.input::file-selector-button {
    border: 0;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 500;
}

.input::placeholder {
    color: var(--muted-foreground);
}

.input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--ring);
}

.input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}